<template>
<div>
<div class="nav">
    <div class="top-nav" v-show="topNav">
        <h1 class="title"><router-link to="/" tag="h1">
            Markets<span>Blog</span>
            </router-link>
        </h1>
        <div class="btn-group">
            <div class="btn-subscribe"><p>Subscribe</p></div>
            <div class="btn-normal">Login</div>
            <div class="btn-normal">Signup</div>
        </div> 
    </div>
<div class="btm-nav" v-show="btmNav" v-bind:style="{position:btmNavFixed, width:btmNavWidth, background:btmNavBackground}">
    <ul class="btm-nav--menu">
        <li class="menu--list-item"><router-link to="/" tag="li">Market Updates</router-link></li>
        <li class="menu--list-item"><router-link to="/grid" tag="li">Economics News</router-link></li>
        <li class="menu--list-item">Day Stats</li>
        <li class="menu--list-item">Magazine</li>   
    </ul>
 </div>
</div>
</div>
</template>

<script>
export default {


    data(){
        return {
            topNav: true,
            btmNav: true,
            btmNavFixed: "flex",
            btmNavWidth: "100%",
            btmNavBackground: "rgba(0,190,128,0.2)"
        }
    },

    created: function(){

        window.addEventListener('scroll', this.navScroll);

    },

    methods: {

        navScroll: function(){

            if (window.scrollY >= 200) {
            this.topNav = false;
            this.btmNavFixed = "fixed";
            this.btmNavBackground = "rgba(0,190,128,0.8)"
            }

            else {

            this.topNav = true;
            this.btmNavFixed = "initial";
            this.btmNavBackground = "rgba(0,190,128,0.2)"

            }
        },
    }


}
</script>


<style lang="scss" scoped>


  @import '../../components/mixins/variables.scss';


.btm-nav-fixed {

    position: fixed;
}

.nav {
    width:100%;
    display:grid;
    grid-template-columns: 1fr repeat(12);
}


.top-nav{
    height: 100px;
    grid-column: 1/12;
    background: #fffff;
    display:grid;
    grid-template-columns: 1fr repeat(12);
    grid-template-areas: 
    ". h h h . . . . . . . b";

    h1 {
        margin-top:2vh;
        grid-area: h;
    }
}

.btn-group {

    grid-area: b;
}

.btm-nav {

    grid-column: 1/12;
    height:70px;
    background: $primary-trans;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btm-nav--menu {
   
   height:100%;
   display:flex;
   align-items: center;
   justify-content: center;
   margin-top:1.5vh;
   margin-left:-5%;

}

.menu--list-item {

    list-style: none;
    font-family: $font-bold;
    color:black;
    font-size:20px;
    text-transform: uppercase;
    margin-right:60px;
    line-height: 70px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 101%;

    &:hover {

        background: $green;
        cursor: pointer;
    }

}

.title {
    color:$grey;
    font-family: $font-bold;
    font-weight: bold;
    text-transform: uppercase;
     span {
        text-transform: none;
        font-weight:normal;
        font-size:0.8em;
        opacity:0.6;
        margin-left: 0.3em;
     }
     &:hover {
         cursor:pointer;
     }
}

.btn-subscribe {
    width: 150px;
    height:58px;
    border: 5px solid $green;
    text-transform: uppercase;
    font-family: $font-bold;
    color: $grey;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:30px;

    p {
        margin-top: 1em;
    }
}

.btn-normal {

    width:122px;
    height:42px;
    border: 2px solid grey;
    text-align: center;
    margin-right:30px;
    display:flex;
    color: $grey;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

.btn-group {

    margin-top:2vh;
}

.btn-normal {

    margin-top: 1vh;
}

</style>
