    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
    $font-bold:'Roboto Condensed',
    sans-serif;
    $primary: rgba(218,
    226,
    223,
    1);
    $primary-trans: rgba(218,
    226,
    223,
    0.63);
    $green:rgba(0,
    190,
    128,
    0.2);
    $grey: #707070;
    body {
        font-family: $font-bold;
    }