<template>
  <div id="my-app" class="page-wrapper">
    <transition
      name="loader-animation"
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut">
      <div class="progress loader" v-if="showLoader">
        <div class="progress-bar" role="progressbar" :style="loaderStyle" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </transition>

    <navigation></navigation>

    <transition name="fade" mode="out-in" appear>
        <router-view></router-view>
    </transition>
    
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import Navigation from './components/partials/Navigation'

export default {
  data() {
    return {
      showLoader: true,
      showNav: false
    }
  },
  computed: {
    ...mapGetters({
      isLoading: 'isLoading',
      loadingProgress: 'loadingProgress'
    }),

    loaderStyle() {
      return `width: ${this.loadingProgress}%;`
    }
  },

  components: {
    Navigation: Navigation,
  },

  watch: {

    // watch the value of isLoading and once it's false hide the loader
    isLoading(val) {
      if (val == false) {
        let self = this
        setTimeout(function(){
          self.showLoader = false
        }, 1000)
      }
    }
  }
}
</script>
<style lang="scss">
  @import './styles/app.scss';

.fade-enter-active{
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

</style>
