<template>
<div>
<section class="showcase">
     <div class="showcase-text"><p>Three years ago, Raiffeisen Bank International was one of the best-performing banks in Europe. </p></div>
     <div class="showcase-right"><div class="showcase-image"></div></div>
 </section>
 
 <div class="news-container">
     <div class="news-heading">
        <p>Latest News</p> 
     </div>
     <div class="news-section">
         <div class="news-section-container">
                <div class="news-title"><p>Strobl lights up Raiffeisen’s recovery</p></div>
                <div class="news-content"><p>Three years ago, Raiffeisen Bank International was on the casualty list – today it is again one of the best-performing banks in Europe. New chief executive Johann Strobl discusses restructuring, regulation and getting back to ‘real banking’.</p></div>
                <div class="btn-read">Read More</div>
         </div>
     </div>
 </div>
</div>
</template>

<style lang="scss">


.btn-read {
    margin-top: 2%;
    width:150px;
    height:30px;
    background: white;
    color:$grey;
    line-height:28px;
    font-size:16px;
    text-transform: uppercase;
    text-align:center;
    grid-area: r;

}

.showcase {

    height: 508px;
    grid-column: 1/12;
    background-image:url("https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color:$grey; 
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    " l l l l  . . . ."
    " l l l l  . r r ."
    " l l l l  . r r ."
    " l l l l  . . . .";



}




 .showcase-text {

    background:rgba(69, 163, 235, 0.58);
    height:auto;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area: l;
    
    p{
        font-size: 30px;
        color:white;
        padding:3em;
        text-shadow: 0.5px 0.5px black;
    }

}

.showcase-right {
   background-image:url("https://images.pexels.com/photos/259200/pexels-photo-259200.jpeg");
   background-position: center;
   background-size:cover;
   width:auto;
   height:auto;
   grid-area: r;
   box-shadow: 1px 3px 66px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}

.news-section {
    grid-column: 1/13;
    z-index: -1;
    height:400px;
    background: $primary;
    margin-top:-5vh;
    display:grid;
    grid-template-columns: repeat(12, 1fr); 
}

.news-section-container {
    background-color: #ffffff85;
    background-image: url("https://images.pexels.com/photos/261949/pexels-photo-261949.jpeg");
    background-blend-mode: screen;
    background-position: center;
    background-size:cover;
    height:auto;
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". c c c"
    "t c c c"
    "t c c c"
    "t c c c"
    ". . . r"
    ". . . ."
    ". . . ."
    ". . . ."
}

.news-title {

    grid-area: t;
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    padding-right:3em;
    padding-left:3em;
    font-weight:bold;
    color:black;
}
.news-content {

    grid-area: c;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    font-weight:bold;
}

.news-heading {
    width: auto;
    height:59px;
    background: $primary;
    margin-top:-3vh;
    grid-column: 6/8;
    display:flex;
    justify-content: center;
    align-items: center;   
    p{
        text-align:center;
        margin-top:2%;
        text-transform: uppercase;
        font-size: 1.4em;
    }


}
</style>
