@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font:'Open Sans',
sans-serif;
$primary: #DAE2DF;
$green:rgba(0,
190,
128,
0.2);
$blue-overlay: rgba(69,
163,
235,
0.5);
$grey: #707070;