@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "variables";
// Common
@import "common/global";
// Components
@import "components/buttons";
@import "components/loader";
// Layouts
@import "layouts/home";
@import "layouts/interior";
// Partials
@import "partials/footer";
@import "partials/sidebar";
@import "partials/posts";
@import url('https://fonts.googleapis.com/css?family=Oswald');
$font-bold:'Oswald',
sans-serif;
$primary: rgba(218,
226,
223,
1);
$primary-trans: rgba(218,
226,
223,
0.63);
$green:rgba(0,
190,
128,
0.2);
$grey: #707070;