<template>
<div>
<div class="grid" v-bind:style="{gridTemplateAreas: layoutOne}">
    <div class="box featured" @mouseover="changeGrid" v-bind:style="{ backgroundImage: 'url(' + featuredOne + ')' }"><p>{{featuredOneTitle}}</p></div>
    <div class="box box-small small-one"  v-bind:style="{ backgroundImage: 'url(' + smallOne + ')' }"><p>{{smallOneTitle}}</p></div>
    <div class="box box-small small-two"   v-bind:style="{ backgroundImage: 'url(' + smallTwo + ')' }"><router-link to="/postlist"><p>{{smallTwoTitle}}</p></router-link></div>
    <div class="box box-small small-three"  v-bind:style="{ backgroundImage: 'url(' + smallThree + ')' }"><p>{{smallThreeTitle}}</p></div>
    <div class="box box-small small-four"  v-bind:style="{ backgroundImage: 'url(' + smallFour + ')' }"><p>{{smallFourTitle}}</p></div>
    <div class="box medium-one" @mouseover="changeGrid" v-bind:style="{ backgroundImage: 'url(' + mediumOne + ')' }"><p>{{mediumOneTitle}}</p></div>
    <div class="box medium-two" v-bind:style="{ backgroundImage: 'url(' + mediumTwo + ')' }"><p>{{mediumTwoTitle}}</p></div>
    <div class="box featured-two" @mouseover="changeGrid3" v-bind:style="{ backgroundImage: 'url(' + featuredTwo + ')' }"><p>{{featuredTwoTitle}}</p></div>
</div>
</div>
</template>


<script>

export default {
  data() {
    return {

        //background images
        featuredOne: "https://images.pexels.com/photos/275496/pexels-photo-275496.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
        smallOne: "https://images.pexels.com/photos/417342/pexels-photo-417342.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb ",
        smallTwo: "https://images.pexels.com/photos/161098/menton-old-town-harbour-entrance-lighthouse-161098.jpeg",
        smallThree: "https://images.pexels.com/photos/259447/pexels-photo-259447.jpeg",
        smallFour: "https://images.pexels.com/photos/262413/pexels-photo-262413.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
        mediumOne: "https://images.pexels.com/photos/484/sound-speaker-radio-microphone.jpg?w=1260&h=750&auto=compress&cs=tinysrgb",
        mediumTwo: "https://images.pexels.com/photos/256559/pexels-photo-256559.jpeg",
        featuredTwo: "http://localhost/corpblog/wp-content/themes/corpblog/src/assets/pexels-photo.png",

        //titles
        featuredOneTitle: "Featured News Article",
        smallOneTitle: "Asia",
        smallTwoTitle: "South America",
        smallThreeTitle: "Africa",
        smallFourTitle: "Europe",
        mediumOneTitle: "Podcast",
        mediumTwoTitle: "Archive",
        featuredTwoTitle: "Latest News",



        //grid layouts

        layoutOne: `"a a b c"
                    "a a b c"
                    "a a d e"
                    "a a d e"
                    "f g h h"
                    "f g h h" 
                    "f g h h"`,

        layoutTwo: `"b c a a"
                    "b c a a"
                    "d e a a"
                    "d e a a"
                    "f g h h"
                    "f g h h" 
                    "f g h h"`,            

     
    }
  },

  computed: {

    },
  methods:{
    changeGrid: function(){

        this.layoutOne = `"b c a a"
                    "b c a a"
                    "d e a a"
                    "d e a a"
                    "f g h h"
                    "f g h h" 
                    "f g h h"`;

    },
        changeGrid2: function(){

        this.layoutOne = `"b c h h"
                          "b c h h"
                          "f e h h"
                          "f e a a"
                          "f g a a"
                          "d g a a" 
                          "d g a a"`;

    },

    changeGrid3: function(){

       this.layoutOne =`"a a b c"
                    "a a b c"
                    "a a d e"
                    "a a d e"
                    "f g h h"
                    "f g h h" 
                    "f g h h"`;
    }

  },

  components: {
  }

}
</script>


<style lang="scss">


  @import '../../components/mixins/variables.scss';


.grid {

    display: grid;
    width:100%;
    height:90vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    
 }

.box{

    border: solid rgba(255, 255, 255, 0.3) 1px;
    background-color:rgba(255, 255, 255, 0.3);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p{
        font-size: 2.5em;
        color:white;
        text-shadow: 3px 3px 3px black;
        padding: 0.5em;
        border: solid rgba(255, 255, 255, 0);
        background-color: #ffffff1f;
        border-radius: 6px;
    }
    
    &:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
    }
}

.box-small p {

    font-size:2em !important;

}

.featured {
    grid-area: a;
}

.small-one{
    grid-area: b;
}

.small-two {
    grid-area: c;
}

.small-three {
    grid-area: d;
}

.small-four {
    grid-area: e;
}

.medium-one{
    grid-area: f;
}

.medium-two {
    grid-area: g;
}

.featured-two {
    grid-area: h;
}




</style>
