<template>
<div>
    <section class="category-title"  v-bind:style="{ backgroundImage: 'url(' + categoryImage + ')' }">
        <h1>{{title}}</h1>
    </section>
</div>
</template>


<script>

export default {
  data() {
    return {
     title: "South America",
    }
  },

  computed: {

    },

  components: {
  }

}
</script>


<style lang="scss">


  @import '../../components/mixins/variables.scss';






</style>
