<template>
<div>
    <section class="category-title"  v-bind:style="{ backgroundImage: 'url(' + categoryImage + ')' }">
        <h1>{{title}}</h1>
    </section>

    <div class="post-container" v-for="post in posts">

        <div class="post-title"><h3>{{post.title.rendered}}</h3></div>
        <div class="post-content">{{post.excerpt.rendered}}</div>
        <div class="post-image"  v-bind:style="{ backgroundImage: 'url(' + post.featured_image_url + ')' }" ></div>
        <div class="btn-read">Read More</div>

        <div class="post-title-alt"><h3>{{post.title.rendered}}</h3></div>
        <div class="post-content-alt">{{post.excerpt.rendered}}</div>
        <div class="post-image-alt"  v-bind:style="{ backgroundImage: 'url(' + post.featured_image_url + ')' }" ></div>
        <div class="btn-read-alt">Read More</div>

    </div>

</div>
</template>


<script>

import { mapGetters } from 'vuex'
import Axios from 'axios'

export default {
  data() {
    return {
     title: "South America",
     categoryImage: "https://images.pexels.com/photos/161098/menton-old-town-harbour-entrance-lighthouse-161098.jpeg",
     posts: [],
    }
  },

  computed: {

  },
  
  methods: {

      setPosts: function() {

            return Axios.get("http://localhost/corpblog/wp-json/wp/v2/posts?_embed")
                .then((response)  => {
                    this.posts = response.data;
                    return;
                })

      }

  },

  created: function () {
    this.setPosts();
  },

  components: {
  }

}
</script>


<style lang="scss">


  @import '../../components/mixins/variables.scss';


    .category-title {
        
        height:20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        background-position: center;
        background-size:cover;
        background-blend-mode: screen;
        color: $grey;
        h1 {
            text-transform: uppercase;
            text-shadow:1px 1px -1px black;
            font-size: 70px;
        }

    }

.post-container {

    width:100%;
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-template-areas:
    ". . . . . . . . ."
    ". . . t t t t . ."
    ". . . t t t t . ."
    ". . c c c c c . ."
    ". . c c c c c . ."
    ". . c c c c c . ."
    ". . . . i i i . ."
    ". . . . . r . . ."
    ". . . . . . . . ."
". . . ta ta ta ta . ."
". . . ta ta ta ta . ."
". . . ca ca ca ca ca ."
". . . ca ca ca ca ca ."
". . . ca ca ca ca ca ."
". . . . ia ia ia . ."
". . . . . ra . . .";

    }

.post-container-alt {

    width:100%;
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    ". . . . . . . . ."
    ". . . t t t t . ."
    ". . . t t t t . ."
    ". . . c c c c c ."
    ". . . c c c c c ."
    ". . . c c c c c ."
    ". . . . i i i . ."
    ". . . . . r . . ."

    }

 .post-title {

    grid-area: t;
    font-weight: bold;
    padding:2em;
    background: $green;
    display: flex;
    justify-content: center;
    align-items:center;

 }
 .post-content {

    grid-area: c;
    font-size:18px;
    background: #FFA1A1;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    padding:1em;

 }

 .post-image {

     grid-area: i;
     height:auto;
     background-size: cover;
     background-position: center;
     background-color: rgba(255, 255, 255, 0.5);
     background-blend-mode: screen;
     
     }


.btn-read {
    margin-top: 2%;
    width:150px;
    height:30px;
    background: white;
    color:$grey;
    line-height:28px;
    font-size:16px;
    text-transform: uppercase;
    text-align:center;
    grid-area: r;
    margin-top:-7vh;

}


 .post-title-alt {

    grid-area: ta;
    font-weight: bold;
    padding:2em;
    background: $green;
    display: flex;
    justify-content: center;
    align-items:center;

 }
 .post-content-alt {

    grid-area: ca;
    font-size:18px;
    background: #FFD6F0;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    padding:1em;

 }

 .post-image-alt {

     grid-area: ia;
     height:auto;
     background-size: cover;
     background-position: center;
     background-color: rgba(255, 255, 255, 0.5);
     background-blend-mode: screen;
     
     }


.btn-read-alt {
    margin-top: 2%;
    width:150px;
    height:30px;
    background: white;
    color:$grey;
    line-height:28px;
    font-size:16px;
    text-transform: uppercase;
    text-align:center;
    grid-area: ra;
    margin-top:-7vh;

}






</style>
